<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pessoa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Pessoas</h1>
        <table>
            <th th:each="item: ${persons}">
                <td>Nome</td>
                <td>Sobrenome</td>
                <td>Idade</td>
            </th>
            <tr th:each="item: ${persons}">
                <td th:text="${item.name}"></td>
                <td th:text="${item.lastName}"></td>
                <td th:text="${item.age}"></td>
            </tr>
        </table>
        <br>
        <a th:href="@{/nova/pessoa}">Novo</a>
    </body>
</html>
